.App {
  background-color: #1E555C;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#box{
  height: 490px;
  width: 500px;
  font-family: 'Comfortaa',sans-serif;

}

#box-head{
  width: 100%;
  height: 20%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

#time-edit{
  width: 100%;
  height: 20%;
  display: flex;
}

#left-edit{
  height: 100%;
  width: 50%;
}

#right-edit{
  height: 100%;
  width: 50%;
}

.edit-up-down{
  height: 50%;
  width: 100%;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.arrows{
  height: 100%;
  width: 50px;
  margin-right: 5px;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows span{
  cursor: pointer;
}

#main{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-box{
  height: 90%;
  width: 50%;
  border: 8px solid #13353A;
  border-radius: 50px;
}

#timer-label{
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;

}

#time-left{
  height: 70%;
  width: 100%;
  font-size: 80px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}


#button-box{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  height: 100%;
  width: 50px;
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons span{
  font-size: 34px;
  cursor: pointer;
}


#play_pause-icon{
  font-size: 60px;
}

#by-box{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Silkscreen', cursive;
  font-size: 12px;
  font-weight: 300;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}