body{
  background-color: #87B5B5;
  height: 100%;
}


.App {
    background-color: #87B5B5;
    height: 100vh;
    width: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
    
  }
  
  #mardkdown-cont{
    height:auto;
    width: 100%;
    background-color: #87B5B5;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  #markdown-box{
    height: auto;
    width: 50%;
    background-color: #C0D8D8;
    margin: 10px auto 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  
  #markdown-head{
    width: 100%;
    height: 40px;
    background-color: #4AA3A3;
    color: black;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Russo One', sans-serif; 
    vertical-align:middle;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  
  #markdown-head p{
    margin-top: 15px;
    margin-left: 5px;
  }
  
  #markdown-head button{
    background-color: transparent;
    color: black;
    border: none;
    margin: auto 5px auto auto  ;
  }
  
  #markdown-head button:hover{
    color: #a5d8d8;
    transition: 300ms;
  
  }
  
  #markdown-rest{
    height: auto;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0px;
  
  }
  
  #markdown-rest textarea{
    height:auto;
    width: 100%;
    background-color: #C0D8D8;
    border: none;
    font-family: monospace;
    font-weight: 400;
    font-size: 14px;
    outline: none;
    min-height: 200px;
    max-height: auto;
    
  
  }
  
  #preview-cont{
    height: auto;
    width: 100%;
    background-color: #87B5B5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  0px;
  }
  
  #preview-box{
    height: auto;
    width: 70%;
    background-color: #C0D8D8;
    margin: 10px auto 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 350px;
  }
  
  #preview-head{
    width: 100%;
    height: 40px;
    background-color: #4AA3A3;
    color: black;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Russo One', sans-serif; 
    vertical-align:middle;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  
  #preview-head p{
    margin-top: 15px;
    margin-left: 5px;
  
  }
  #preview-head button{
    background-color: transparent;
    color: black;
    border: none;
    margin: auto 5px auto auto  ;
  }
  
  #preview-head button:hover{
    color: #a5d8d8;
    transition: 300ms;
  
  }

  #preview{
    overflow-x: scroll;
    height: auto;
    max-height: 300px;
  }
  
  .by-box{
    height: 60px;
    width: 550px;
    border-radius: 4px;
    transition: 500ms;
    font-family: monospace;
    font-size: 11px;
    line-height: 11px;
  
  }
  .by-footer{
    font-weight: 300;
    margin-right: 3px;
  }
  
  .by-box:a{
    text-decoration: none;
  }
  